/* styles for index.html */
#choose-file {
    height: 0;  
    width: 0;
    overflow: hidden;
  }

  #choose-file {
  position: absolute;
  left: -9999px;
}

.wrapper {
  background-color: #ffffffb2;
}

body {
  background-color: #F8F8F8;
    padding: 30px;

}

body {
    font-family: Arial, sans-serif;
}

/* styles for file input buttons-model training tab */
input {
  margin-top: 1rem;
}

input::file-selector-button {
  font-weight: bold;
  color: white;
  padding: 0.5em;
  border: thin solid dodgerblue;
  border-radius: 3px;
  background:dodgerblue;
}


 /* Styles for tab navigation */
  .tab {
    display: none;
  }
  .tab.active {
    display: block;
  }
  .tab-navigation {
    display: flex;
  }
  .tab-navigation button {
    padding: 10px 20px;
    margin: 0;
    border: none;
    background-color: #bad5f2;
    cursor: pointer;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  width: 200px;
  
  }
  .tab-navigation button.active {
    background-color: #c7ede2;
    border:solid black;
  }
  .tab-navigation button:hover {
    background-color: #ccc;
  }